@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --color-1: #5E7AC4;
  --color-2: #3852B4;
  --color-3: #000514;
  --color-4: #29375d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.ant-form-item-control-input, .ant-input-number {
  width: 100% !important;
}
.ant-form-item-control-input-content {
  width: 100% !important;
}

.ant-form-item {
  margin: 0 0  !important;
  padding: 0 0 !important;
}
.ant-col {
  margin: 0 !important;
  padding: 3px 8px !important;
}

.ant-row {
  margin-inline: -8px !important;
}
.ant-input-number-actions,
.ant-input-number-action {
  display: none !important;
}

/* Hide scrollbar but keep scroll functionality */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}
